.a{
    background-color: rgb(82, 52, 58);
    width: 960px;
    height: 100px;
    border: 1px solid black;
}
.b{
    background-color: rgb(27, 2, 6);
    width: 200px;
    height: 600px;
    border: 1px solid black;
    text-align: center;

}
.right{
    display: inline-flex;
    position: absolute;
    top: 100px;
    right: 0px;
}
.c{
    background-color: rgb(241, 89, 89);
    width: 380px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
}
.d{
    background-color: rgb(174, 175, 252);
    width: 380px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
}
.right-bottom{
    display: inline-flex;
    position: absolute;
    top: 300px;
    right: 0px;

}
.e{
    background-color: rgb(163, 170, 163);
    width: 190px;
    height: 250px;
    border: 1px solid black;
    text-align: center;
}
.f{
    background-color: rgb(122, 81, 120);
width: 190px;
height: 250px;
border: 1px solid black;
text-align: center;
}
.g{
    background-color: rgb(189, 230, 189);
    width: 190px;
    height: 250px;
    border: 1px solid black;
    text-align: center;
}
.h{
    background-color: rgb(65, 80, 65);
    width: 190px;
    height: 250px;
    border: 1px solid black;
    text-align: center;
}
.i{
    background-color: rgb(161, 207, 221);
    width: 760px;
    height: 150px;
    position: relative;
    bottom: 150px;
    left:200px;
    border: 1px solid black;
    text-align: center;

}
div p{
    text-align: center;
}